@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600;700&display=swap');

:root {
    --primary-text-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 10px;
}

.pokemon-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center; 
}

.background-image {
    width: 100vw;
    height: 100%;
    position: absolute;
    background-image: url(./assets/background-image.png);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
}

.btn-left {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: red;
    border: none;
    border-radius: 50% 0 0 50%;
    cursor: pointer;
}

.btn-right {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: red;
    border: none;
    border-radius: 0 50% 50% 0;
    cursor: pointer;
}

.search-pokemon {
    width: 460px;
    display: flex;
    justify-content: space-between;
}

.search-pokemon-label {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #dfe7ef;
}

.search-pokemon-input {
    width: 200px;
    height: 30px;
    padding: 5px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #dfe7ef;
    transition: .5s ease-in-out
}

.search-pokemon-input:focus {
    background-color: white;
}

.search-pokemon-button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: #dfe7ef;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.search-pokemon-button:hover {
    background-color: white;
}


.pokemon-data {
    width: 460px;
    height: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;     
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    background-color: #dfe7ef;
    border-radius: 5px;
}

.number-name-container {
    font-size: 1.5rem;
    padding: 0 5px;
    border-radius: 5px;
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #FFFFFF;
}

.pokemon-frame-stats-container {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frame-stats-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
}

.pokemon-frame {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    border-radius: 50%;
    transition: 1s ease-in-out;
    overflow: hidden;
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #FFFFFF;
}

.frame-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 200%;
    transition: 1s ease-in-out;
}

.pokemon-frame:hover .frame-background {
    transform: translateY(-50%);
}


.pokemon-stats {
    width: 170px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    border-radius: 5px;
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #FFFFFF;
}

.stat-bar {
    width: 150px;
    height: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    background-color: rgb(199, 199, 199);
}

.stat-bar span {
    position: relative;
    z-index: 1;
    text-align: center;
}

.stat-bar-value {
    position: absolute;
    height: 100%;
    left: 0;
    background-color: #FFD700;
    transition: .5s ease-in-out;
}

.pokemon-image {
    width: 75%;
    z-index: 1;
}

.pokemon-name {
    text-transform: capitalize;
}

.pokemon-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height:30px;
    border-radius: 10px;
    font-size: 1rem;
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #FFFFFF;
}

.pokemon-type-name {
    text-transform: capitalize;
}

.background {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}